{% extends 'base.html.twig' %}



{% block body %}
<div class="album py-5 bg-light">
    <div class="container">
	 <h1>{{ title }}</h1>
	 <div class="row">
	 {% for beer in beers %}
	    <div class="col-sm-3">
			<div class="card shadow-sm">        
					<img src="{{ asset('build/images/beer_00.jpeg')  }}"  class="bd-placeholder-img card-img-top" width="100%" height="225"/>
					<div class="card-body">
					<a href="#">{{ beer.name }}</a>
					{% if beer.publisheAt is defined %}
								<p class="card-text">Date de création :
									{{ beer.publisheAt | date('d-m-Y h:m:s') }}
								</p>
							{% endif %}
							{% if beer.price is defined  %}
								Price:
								{{ beer.price }}
								&euro;
							{% endif %}
							<div class="card-text">
								{{ beer.description ?? 'no description' }}
							</div>
					
				{% include 'partials/meta.html.twig' %}
					</div>
				</div>
		
		
		
			
		
		</div>
	{% endfor %}
	 </div>
	 </div>
</div>
	{% endblock %}
